*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  font-family: Avenir, Roboto, Helvetica, san-serif;
  font-size: 0.8rem;
  max-width: 10000px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

article {
  margin: 0;
}

article button {
  background: teal;
  border: none;
  border-radius: 1rem;
  color: white;
  margin-top: auto;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.sale-item {
  display: flex;
  flex-flow: column;

  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 2rem;
}

.sale-item > h1 {
  margin: 1rem 1rem 0;
}

.sale-item ul {
  margin: 0 0 1rem;
}

.sale-item p {
  margin: 0.25em 1rem 1rem;
}

.sale-item > img {
  order: -1;
  align-self: center;
  padding: 1rem;
}
